@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --color-primary: "rgb(29, 155, 240)" ;
  --color-secondary: "rgb(24, 24, 24)";
  --color-accent: "#58A6FF";
  --color-neutral: "#0D1117";
  --color-info: "#58A6FF";
  --color-success: "#3FB950";
  --color-warning: "#F85149";
  --color-error: "#F85149";
  --color-text-primary: "#E6EDF3";
  --color-text-muted: "#8B949E";
  
  
  
}

